/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

.page {
  width: 768px;
  margin: auto;
  padding: 0 0 3% 0;
  box-shadow: 0 0 10px grey;
    text-align:left;
}
.flex-row {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}
.header {
    justify-content: space-between;
}
.header-title {
    color: white;
    text-shadow: -2px -1px #f55e4b, 2px 0 black;
}
.header-title:hover {
    text-shadow: -2px -1px #d14330, 2px 0 black;
}
.header-title:hover {
    color: white;
    text-shadow: -2px -1px #d14330, 2px 0 black;
}
.header-search-block {
    display: inline-block;
}
.header-search-block > * {
}
.header-search-block input {
    padding: 6px 30px 6px 0;
    margin-top: 8px;
    margin-right: 10px;
}
.header-search-block button {
    padding: 6px 10px 6px 10px;
    background-color: white;
    color: #f55e4b;
    border: 1px solid #f55e4b;
    font-weight: bold;
    font-size: small;
}
#next-page-button{
    padding: 6px 10px 6px 10px;
    margin-left: 10%;
    background-color: white;
    color: #f55e4b;
    border: 1px solid #f55e4b;
    font-weight: bold;
    font-size: small;
}
.header-search-block button:hover {
    background-color: #f55e4b;
    color: white;
}
#next-page-button:hover {
    background-color: #f55e4b;
    color: white;
}
.navigation {
    display: flex;
    justify-content: space-between;
    font-family: Arial, serif;
    font-weight: bold;
    margin-bottom: 5%;
}
.nav-hrefs {
    flex-wrap: nowrap;
}
.nav-hrefs a {
    color: #f55e4b;
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    /*margin-right: 4%;*/
    display: inline-flex;
}
.nav-hrefs a:hover {
    color: #d14330;
}
.add-teacher-button {

}
.add-teacher-button > * {
    padding: 6px 10px 6px 10px;
    background-color: white;
    color: #f55e4b;
    border: 1px solid #f55e4b;
    font-weight: bold;
}
.add-teacher-button button:hover {
    background-color: #f55e4b;
    color: white;
}
.mid_block {
    margin: auto auto 20px auto;
    width: 40%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Arial, serif;
}

.disabled-link{
    color:black !important;
}
.top-teachers-block {
    margin: 5%;
}
.top-teachers-nav {
    margin-bottom: 3%;
}
.top-teachers-nav > * {
    color: grey;
    font-size: small;
}
.top-teachers-nav > .right-bordered-element {
    padding-right: 2%;
    margin-right: 2%;
    border-right: 1px dashed grey;
}
.teachers-grid {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-auto-rows: 1fr;
    gap: 10px;
    margin-left: 8%;
    margin-right: 8%;
}
.teachers-grid-element {
    width: 80%;
    font-family: Arial, serif;
    justify-content: center;
}
.star{
    width: 30px;
    height: 30px;
}
.teacher-image-container {
    border-radius: 50%;
    border: 3px solid #f55e4b;
    overflow: hidden;
    aspect-ratio: 1;
    width:100%;
    height: fit-content;
    min-height: 100px;
    min-width: 100px;
    text-align: center;
    align-items: center;
}

.teacher-image-container *{
    display: block;
    align-self: center;
    color:#f55e4b;
    font-size: x-large;
}
.teachers-grid-element img {
    width: 100%;
    height: 100%;
}
.teachers-grid-element img:hover {
    transform: scale(1.3);
    border-color: #d14330;
}

.teachers-grid-element p{
    text-align: center;
    margin: 1px;
}
.teachers-grid .teacher-preview-name {
    font-weight: bold;
    margin: 4%;
}
.teacher-preview-speciality {
    color: grey;
    font-size: smaller;
    margin-bottom: 4%;
    white-space: nowrap;
}
.teacher-preview-country {
    font-size: x-small;
}
.teachers-grid-element .star {
    position: relative;
    left: 80%;
    bottom: 90%;
}
.teachers-grid-element .star img {
    border: none;
}
.teacher-list > table {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}
.teacher-list * {
    border-collapse: collapse;
    padding-bottom: 10px;
    padding-top: 10px;
}
#teacher-list-rows tbody:nth-child(odd) {
    background-color: #faf5fb;
}
.teacher-list td, .teacher-list th {
    margin: 5% 20% 5% 20%;
    text-align: center;
}
.teacher-list-th-row th {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    background-color: white;
}
.teacher-list-pages-refs {
    margin: 20px 0 40px 5%;
}
.teacher-list-pages-refs a {
    margin: 0 1% 0 1%;
    color: #19b3d2;
    text-decoration: none;
    font-family: Arial, serif;
}
.favorites-gallery {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-arrow {
    margin: 0 3% 0 3%;
}
.gallery-arrow img {
    width: 20px;
    height: 50px;
}
.favorites-gallery-elements {
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-auto-rows: 1fr;
}

.favorites-gallery-elements img {
    width: 100%;
    height: fit-content;
}

.text-paragraph {
    margin: 5% auto auto;
    font-family: Arial, serif;
    font-size: smaller;
    width: 90%;
}

.popup {
    /*visibility: hidden;*/
    backdrop-filter: blur(5px);
    background-color: rgba(69, 69, 69, 0.5);
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
}
.info-popup {
    padding-top: 100px;
    margin: auto;
    width: 70%;
    height: max-content;
}
.popup-header {
    background-color: #464648;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.popup-header * {
    color: white;
    padding: 3px 10px 3px 10px;
}
.popup-header h3 {
    float: left;
    font-family: Arial, serif;
}
.popup-close-button {
}
.popup-close-button button {
    background-color: #464648;
    border: none;
    font-size: large;
    font-weight: bold;
}
.popup-main {
    padding-bottom: 20px;
    background-color: white;
    width: 100%;
}
.info-popup .popup-main {
    text-align: left;
    display: grid;
    grid-template-areas: 'img rtext rtext' 'btext btext btext';
}
.info-popup-image img {
    width: 100%;
    height: fit-content;
    grid-area: img;
    margin: 5%;
}
.info-popup-right-block {
    grid-area: rtext;
    margin: 0 0 0 5%;
}
.info-popup-right-block *{
    grid-area: rtext;
    margin-bottom:5%;
}
.info-popup-bottom-text {
    grid-area: btext;
    margin: 0 10% 0 10%;
}
#info-popup-name {
    font-size: x-large;
}
#info-popup-subject {
    font-weight: bold;
}
.info-popup a {
    color: #19b3d2;
}
.info-popup-right-block a {
    text-decoration: none;
}
.info-popup-bottom-text a {
    text-decoration-style: dotted;
}
.add-popup {
    padding-top: 1%;
    margin: auto;
    width: 40%;
    height: 95%;
}
.add-form-grid-element{
    border-color:lightgray;
}
#add-form {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'name name'
                        'speciality speciality'
                        'country city'
                        'email phone'
                        'birth none'
                        'sex none'
                        'color none'
                        'note note'
                        'add add';
}
#add-form * {
    font-family: Arial, serif;
    font-size: small;
}
#add-form * {
    padding-top: 5px;
    width: 95%;
    align-content: center;
}
#add-form div {
    margin: auto;
}
#add-form input {
    display: block;
    width: 100%;
    border-color: lightgray;
}
#add-form label{
    display: block;
    text-align: left;
    margin:0;
}
#add-form select{
    display: block;
    width: 100%;
    border-color: lightgray;
}
#add-form textarea{
    display: block;
    width: 100%;
}
#add-form-name {
    grid-area: name;
}
#add-form-speciality {
    grid-area: speciality;
}
#add-form-country {
    grid-area: country;
}
#add-form-city {
    grid-area: city;
}
#add-form-email{
    grid-area: email;
}
#add-form-phone {
    grid-area: phone;
}
#add-form-birth {
    grid-area: birth;
}
#add-form-sex {
    grid-area: sex;
    display: inline-flex;
}
#add-form-color {
    grid-area: color;
    display: inline-flex;
}
#add-form-notes {
    grid-area: note;
}
#add-form-add {
    grid-area: add;
}

#add-form-add input {
    margin-bottom: 3%;
    padding: 6px 10px 6px 10px;
    background-color: white;
    color: #f55e4b;
    border: 1px solid #f55e4b;
    font-weight: bold;
    font-size: small;
}
#add-form-add input:hover {
    background-color: #f55e4b;
    color: white;
}
#none {
    grid-area: none;
}

#info-popup-block{
    visibility: hidden;
}
#add-popup-block{
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .page {
        width: 100%;
    }

    .flex-row {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation {
        margin-top: 5%;
        margin-bottom: 5%;
        flex-direction: column;
    }
    .navigation a {
        margin-right: 30%;
        margin-left: 30%;
        font-size: x-large;
    }
    .teachers-grid {
        grid-template-columns: repeat(3, 30%);
        margin-left: 10%;
        margin-right: 5%;
    }
    .favorites-gallery-elements {

    }
    .add-teacher-button button {
        margin-top: 10px;
        padding: 10px 70px 10px 70px;
    }
    .top-teachers-nav * {
        margin-bottom: 10px;
    }
}

#leaflet-map{
    border-style: solid;
    width: 200px;
    height: 200px;
    position:relative;
    /*left: 100px;*/
    /*bottom: 200px;*/
}

.chart-container{
    margin:auto;
    min-width: 100px;
    width: 50%;
}